<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean id="personDao" class="com.lxk.spring.aop.xml.PersonDaoImpl"/>
    <bean id="transaction" class="com.lxk.spring.aop.xml.Transaction"/>
    <bean id="logger" class="com.lxk.spring.aop.xml.Logger"/>
    <aop:config>
        <aop:pointcut id="perform" expression="execution(* com.lxk.spring.aop.xml.PersonDaoImpl.*(..))"/>
        <aop:aspect ref="transaction">
            <aop:before method="beginTransaction" pointcut-ref="perform"/>
        </aop:aspect>

        <aop:aspect ref="logger">
            <aop:before method="logging" pointcut-ref="perform"/>
        </aop:aspect>
    </aop:config>
</beans>